@charset "UTF-8";
.portfolio__list, .footer__list, .clients__list, .social__list, .team__list, .work__list, .advantage__list, .portfolio__list-btn, .header__social-list, .header__contact-list, .header__nav-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.portfolio__link, .footer__contact, .header__social-link, .logo, .header__contact-link, .header__nav-link {
  text-decoration: none;
}

.portfolio__button, .footer__btn, .backdrop__btn, .hero__button {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.footer__btn, .backdrop__btn, .hero__button {
  min-width: 136px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.header__contact-link, .header__nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* скрываем заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .section-title {
    font-size: 28px;
    line-height: 1.1428571429;
  }
}

.header {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    z-index: 100;
  }
  .header__container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    gap: 30px;
  }
}

.header__contact-list {
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .header__contact-list {
    display: flex;
  }
}

.header--border {
  border-bottom: 1px solid #EEEEEE;
}

@media screen and (max-width: 767px) {
  .header__contact--mobile {
    position: absolute;
    bottom: 48px;
    left: 40px;
  }
}
.logo {
  margin-right: 93px;
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo--accent {
  color: #2196F3;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  color: #FFFFFF;
}

.header__menu-button {
  position: absolute;
  right: 22px;
  top: 12px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: currentColor;
  color: #212121;
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button:hover, .header__menu-button:focus {
  color: #2196F3;
}

.header__menu-button .icon-cross {
  display: none;
}

.header__menu-button.is-open .icon-cross {
  display: block;
}

.header__menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__nav-item:first-child {
    margin-bottom: 36px;
  }
  .header__nav-item:nth-child(2) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .header__nav-link {
    display: inline;
    font-size: 40px;
    line-height: 1.175;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    display: flex;
  }
}
.header__nav-link:focus, .header__nav-link:hover {
  color: #2196F3;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196F3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover::after {
  transform: scaleX(1);
}

.header__nav-link--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .header__nav-link--current {
    position: relative;
  }
  .header__nav-link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #2196F3;
  }
}

/*связаться*/
@media screen and (max-width: 767px) {
  .header__contact-item:first-child {
    margin-bottom: 32px;
  }
  .header__contact-item:last-child {
    margin-bottom: 64px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__contact-item:first-child {
    margin-bottom: 10px;
  }
}

.header__contact-link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__contact-link {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}
.header__contact-link:hover, .header__contact-link:focus {
  color: #2196F3;
}

.header__icon--prepend {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .header__icon--prepend {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__social-list {
    display: flex;
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
@media screen and (min-width: 768px) {
  .header__social-list {
    display: none;
  }
}

.header__social-item {
  position: relative;
}
.header__social-item:not(:last-child) {
  margin-right: 20px;
}

.header__social-item:not(:last-child):after {
  content: "❘";
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
  color: rgba(33, 33, 33, 0.2);
}

.header__social-link {
  display: block;
  color: #2196F3;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero3x.jpg);
  }
}
.hero__title {
  width: 360px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 694px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__title--move {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  padding: 10px 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  text-decoration: underline;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
}

.backdrop__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
}
.backdrop__close-btn:hover, .backdrop__close-btn:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.backdrop__close-btn--icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.backdrop__btn {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__btn:hover, .backdrop__btn:focus {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
}

.backdrop__btn--center {
  margin-left: auto;
  margin-right: auto;
}

.footer__btn {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
}
@media screen and (max-width: 1199px) {
  .footer__btn {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__btn--icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio__list-btn {
  display: flex;
  margin-bottom: 56px;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio__list-btn {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list-btn {
    justify-content: center;
  }
}

.portfolio__button {
  padding: 6px 22px;
  border: 0;
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow-y: scroll;
}

.backdrop.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  padding: 40px;
  min-height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1199px) {
  .backdrop__modal {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    max-width: 528px;
    width: 100%;
  }
}

.backdrop__title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  Font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form__label {
  position: relative;
}
.feedback-form__label:not(:last-child) {
  margin-bottom: 10px;
}
.feedback-form__label:last-child {
  margin-bottom: 20px;
}

.feedback-form__input {
  margin-top: 4px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__input:focus-within {
  border: 1px solid #2196F3;
  outline: none;
}
@media screen and (max-width: 1199px) {
  .feedback-form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-form__input {
    width: 448px;
  }
}

.feedback-form__input--icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__input:focus-within + .feedback-form__input--icon {
  color: #2196F3;
}

.feedback-form__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  background-image: url(../images/checkbox/frame.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url(../images/checkbox/icon-check.svg);
}

.checkbox__txt {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
}
@media screen and (max-width: 1199px) {
  .checkbox__txt {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__txt {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.checkbox__link {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .advantage__list {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc((100% - 15px) / 3);
  }
}

.advantage__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
@media screen and (max-width: 767px) {
  .advantage__thumb {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage__thumb {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__thumb {
    max-width: 270px;
  }
}

.advantage__pic {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.advantage__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.work__section {
  padding-bottom: 94px;
}
@media (max-width: 1199px) {
  .work__section {
    display: none;
  }
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work__thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.work__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team__section {
  background-color: #F5F4FA;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team__list {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__thumb {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.img {
  display: block;
  height: 100%;
}
@media (min-width: 480px) and (max-width: 767px) {
  .img {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .img {
    width: 370px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .team__images {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team__images {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__images {
    width: 270px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social__icon {
  width: 20px;
  height: 20px;
  padding: 0;
  fill: currentColor;
}

.footer__link {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.clients__list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients__pic {
  width: 100%;
  height: 60px;
  padding: 0;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
  }
}

.footer__item {
  margin-top: 9px;
}

.footer__address-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}

.footer__contact {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer__content {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer__content {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    margin-left: 70px;
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
}

.footer__list {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .footer__subscript {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscript {
    margin-left: 93px;
  }
}

.footer__title--variation {
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__subscript-form {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscript-form {
    display: flex;
    align-items: center;
  }
}

.footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__input:focus-within {
  color: var(--white-color);
  outline: none;
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: 370px;
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio__box--alignment {
    padding-bottom: 56px;
  }
}
.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.88;
  color: #757575;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__text-hidden {
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__text-hidden, .portfolio__link:focus .portfolio__text-hidden {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */