.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__main-nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    @extend %list;
    display: flex;
    gap: $indent;
}

.header__contact-list {
    @extend %list;
    // display: flex;
    gap: $indent;

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.header--border {
    border-bottom: 1px solid $border-color;
}