/*связаться*/
.header__contact-item{

    @media screen and (max-width: 767px) {
        &:first-child {
                margin-bottom: 32px;
            }
        
            &:last-child {
                margin-bottom: 64px;
            }
    }

    &:first-child{
        @media (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 10px;
        }
    }
}


.header__contact-link {
    @extend %header__link;
    color: $primary-text-color;
    transition: color 250ms $transition-cubic;

    @media screen and (max-width:767px) {
        font-size: 34px;
        line-height: calc(40 / 34);

        
    }

    &:hover, &:focus {
            color: $accent-color;
        }

}

.header__icon--prepend {

    @media screen and (max-width:767px) {
        display: none;
    }

    margin-right: 10px;
    fill: currentColor;
}