.header__menu-button{
    position: absolute;
    right: 22px;
    top: -5px;

    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding:11px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    fill: currentColor;
    color: $title-text-color;
    border: none;
    background-color: inherit;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover, &:focus{
        color: $accent-color;
    }
}

.header__menu-button .icon-cross{
    display: none;
}

.header__menu-button.is-open .icon-cross{
    display: block;
}

.header__menu-button.is-open .icon-menu{
    display: none;
}