.portfolio__list {
    @extend %list;
   
    @media screen and (max-width: 767px){
        display: block;
    }

    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        gap: $indent;
    }
}

.portfolio__item{

    &:not(:last-child){
        @media screen and (max-width: 767px){
            margin-bottom: $indent;
            
        }
    }

    @media screen and (max-width: 767px){
        width: 450px;
    }

    @media (min-width:768px) and (max-width:1199px){
        width: 354px;
        flex-basis: calc((100% - $indent) / 2);
    }

    @media screen and (min-width: 1200px){
        width: 370px;
        flex-basis: calc((100% - $indent * 2) / 3)
    }
}

.portfolio__link {
    @extend %link;
    display: inline-block;
    transition: box-shadow 250ms $transition-cubic;
    &:hover, &:focus{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;   
}
@media (min-width:768px) and (max-width:1199px) {
    .portfolio__box--alignment{
        padding-bottom: 56px;
    }
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 4px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}



